<header>
  <div class="main-header">
    <div class="main-header__left-box">
      <div class="main-header__left-box__home">
        <a href="/topics">
          <i class="material-icons">home</i>
        </a>
      </div>
      <% if user_signed_in? %>
      <div class="main-header__left-box__add">
        <a href="/topics/new">
          <i class="material-icons">add_circle_outline</i>
        </a>
      </div>
      <% end %>
    </div>
    <div class="main-header__center-box">
      <div class="main-header__center-box__title">
        <p>Vch@</p>
      </div>
    </div>
    <div class="main-header__right-box">
      <% if user_signed_in? %>
        <div class="main-header__right-box__nickname">
          <%= current_user.name %>
        </div>
        <div class="main-header__right-box__btn">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'logout-btn' %>
        </div>
      <% else %>
        <div class="header-btns">
          <a href="/users/sign_up" class="signup-btn">新規登録</a>
          <a href="/users/sign_in" class="login-btn">ログイン</a>
        </div>
      <% end %>
    </div>
  </div>
</header>



<div class="topics-left-content">
  <div class="search-box">
    <%= form_tag('/topics/search', method: :get) do %>
      <input class="topic-search" name="keyword" placeholder="動画タイトルで検索" type="text" value=""></input>
      <%= submit_tag '　🔍　', :name => nil , :class =>"search-btn" %>
    <% end %>
  </div>
  <div class="topic-left-down-box">
    <div class="topics">
      <%= render @topics %>
    </div>
  </div>
</div>


<div class="topics-right-content">
</div>