
<div class="newtopic-wrapper">
  <div class="newtopic-content">
    <div class="newtopic-title">新規スレッド作成</div>
    <div class="newtopic-form">
      <%= form_for @topic do |f| %>
        <div class="form-set">
          <%= f.label "動画のタイトル", class: "label" %><br/>
          <%= f.text_field :title, class: "text-field" %>
        </div>
        <div class="form-set">
          <%= f.label "動画のチャンネル名", class: "label" %><br/>
          <%= f.text_field :channel, class: "text-field" %>
        </div>
        <div class="form-set">
          <%= f.label "動画のURL", class: "label"%><br/>
          <%= f.text_field :video_url, class: "text-field" %>
          <%= f.submit "スレッド作成", class: "newtopic-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
